/**
 * @name App.css
 * @author Schober Andreas
 * Contains basic CSS needed for the layout and design of the website
 */
@import url("https://fonts.googleapis.com/css?family=Merienda+One");

.search-bar {
  text-align: center;
}

.search-bar input {
  width: 75%;
  border: 1px solid black;
}

.video-item img {
  max-width: 64px; /*4em*/
}

.video-detail .details {
  margin-top: 0;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  background: white;
}

.embed-responsive-itemn {
  border-radius: 5px 5px 0px 0px;
}

.media-left {
  width: 50px; /*3em*/
  height: 50px;
  border: 1px solid black;
}
.list-group-item,
.searchResultDiv,
.video-detail .details {
  cursor: pointer;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*General CSS*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Merienda One";
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em;
}

body > * {
  text-align: center;
  vertical-align: middle;
}
hr {
  border-width: 4px;
}

/* CSS for Searchconsole*/

#search {
  border-radius: 0.5em;
  font-size: 1.2em;
  width: 90%;
  padding: 5px;
  margin: 5px;
  transition: width 0.5s ease-in-out;
}

.button-search {
  height: auto;
  width: auto;
}

.flex-basis-50 {
  flex-basis: 50%;
  min-width: 50%;
}

/*WIKIPEDIA*/

.searchResultDiv {
  margin: 1em;
  padding: 1em;
  text-align: left;

  /*   border:1px solid black;
  border-radius: 5px; */
}
.searchResultDiv h3 {
  text-decoration: none;
}
.searchResultDiv h3 a {
  display: inline-block;
  line-height: 16px;
  text-decoration: none;
}

.searchResultDiv a {
  text-decoration: none;
  color: black;
}
.searchResultDiv a:hover {
  color: blue;
}

.searchResultDiv .link a:hover {
  text-decoration: none;
}
.hidden {
  display: none;
}
