/*General CSS*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: lightgrey;
  width: 100%;
  height: 100%;
  margin: 0;
}

body > * {
  text-align: center;
  vertical-align: middle;
}

/*CSS for Grid*/
.grid-container {
  display: grid;
  grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 10px;
  grid-template-rows: 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10px;
  border: 2px solid darkblue;
  margin-left: 5px;
  margin-right: 5px;
}

/* CSS for Searchconsole*/
.searchinput {
  display: grid;
  border: 2px dashed green;
  grid-column: 1 / 8;
  grid-row: 1 / 3;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.searchconsole {
  border: 2px solid lightgreen;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
#search {
  border: 2px solid #999;
  border-radius: 0.5em;
  font-size: 1.2em;
  width: 90%;
  padding: 5px;
  margin: 5px;
  transition: width 0.5s ease-in-out;
}
#search:focus {
  border: 2px solid blue;
}

.button-search {
  height: auto;
  width: auto;
}

.searchoutput {
  border: 2px dashed red;
  grid-row: 3 / 16;
  grid-column: 1 / 8;
}
.spotify {
  grid-column: 2 / 7;
  grid-row-end: 3 / 5;
  border: 2px solid green;
  height: 100%;
  width: 100%;
}
.wikipedia {
  border: 2px solid darkred;
}
.picture {
  border: 2px solid darkgoldenrod;
}

.youtube {
  border: 2px solid pink;
}
.tabs {
  border: 2px solid darksalmon;
}

.flex-basis-50 {
  flex-basis: 50%;
  min-width: 50%;
}
